<template>
  <div style="align-content: center; text-align: center; padding-top: 20px;">
    <RadialGauge style="text-align: center;" :options="compassOptions" :value="compassValue" />
    <h2 style="margin-top: -0px;">Bearing</h2>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
// @ts-ignore
import RadialGauge from 'vue-canvas-gauges/src/RadialGauge';

@Component({
  components: {
    RadialGauge,
  },
})
export default class CompassWidget extends Vue {
  @Prop() compassValue: number | undefined;

  compassOptions = {
    title: 'Bearing',
    width: 200,
    height: 200,
    minValue: 0,
    maxValue: 360,
    majorTicks: ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW', 'N'],
    minorTicks: 22,
    ticksAngle: 360,
    startAngle: 180,
    strokeTicks: false,
    highlights: false,
    colorPlate: '#222',
    colorMajorTicks: '#f5f5f5',
    colorMinorTicks: '#ddd',
    colorNumbers: '#ccc',
    colorNeedle: 'rgba(240, 128, 128, 1)',
    colorNeedleEnd: 'rgba(255, 160, 122, .9)',
    valueBox: false,
    valueTextShadow: false,
    colorCircleInner: '#fff',
    colorNeedleCircleOuter: '#ccc',
    needleCircleSize: 15,
    needleCircleOuter: false,
    animationRule: 'linear',
    needleType: 'line',
    needleStart: 75,
    needleEnd: 99,
    needleWidth: 3,
    borders: true,
    borderInnerWidth: 0,
    borderMiddleWidth: 0,
    borderOuterWidth: 10,
    colorBorderOuter: '#ccc',
    colorBorderOuterEnd: '#ccc',
    colorNeedleShadowDown: '#222',
    borderShadowWidth: 0,
    animationDuration: 1500,
  };
}
</script>

<style scoped>
</style>
