<template>

    <table class="el-table el-table--border" style="width:100%" v-if="selectedWaypoint !== undefined">
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>ID</td>
        <td><el-input placeholder="Please input" v-model="selectedWaypoint.id"></el-input></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><el-input placeholder="Please input" v-model="selectedWaypoint.name"></el-input></td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td><el-input-number v-model.number="selectedWaypoint.position.lat" :step="gpsStep" :precision="gpsPrecision"  :min="gpsMin" :max="gpsMax"></el-input-number></td>
      </tr>
      <tr>
        <td>Longitude</td>
        <td><el-input-number v-model.number="selectedWaypoint.position.lng" :step="gpsStep" :precision="gpsPrecision"  :min="gpsMin" :max="gpsMax"></el-input-number></td>
      </tr>
      <tr>
        <td>Icon</td>
        <td>
          <el-select v-model.string="selectedWaypoint.icon" placeholder="Select" :value="selectedWaypoint.icon">
            <el-option
              v-for="icon in markerIcons"
              :key="icon.toLowerCase()"
              :label="icon"
              :value="icon.toLowerCase()">
            </el-option>
          </el-select>
        </td>
      </tr>
    </table>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Waypoint from '@/models/Waypoint';

  @Component({})
  export default class MapProperties extends Vue {
    @Prop() selectedWaypoint: Waypoint[] | undefined;

    private gpsStep = 0.000001;
    private gpsPrecision = 7;
    private gpsMax = 180.0;
    private gpsMin = -180.0;
    private markerIcons = ['Red', 'Blue', 'Green', 'Yellow', 'Pink', 'Purple'];
  }
</script>

<style scoped>

</style>
