<template>
  <div>
    <CompassWidget :compass-value="compassValue" />
    <el-input-number v-model.number="compassValue"></el-input-number>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { ros } from "@/utils";

  import ROS from 'roslib';
  import CompassWidget from '@/components/MapProperties/CompassWidget.vue';

  @Component({
    components: {CompassWidget}
  })
  export default class TelemetryPane extends Vue {


    compassValue = 20;

    created() {
      const topic = new ROS.Topic({
        ros,
        name: `/imu`,
        messageType: 'sensor_msgs/Imu'
      });

      topic.subscribe(message => {
        // @ts-ignore
        this.compassValue = message.orientation.z;
      });
    }
  }
</script>

<style scoped>

</style>
