<template>
  <div>
    <template v-if="waypoints.length === 0">Waypoints list is empty.</template>
    <draggable tag="el-collapse" :list="waypoints" style="padding-left: 10px">
      <el-collapse-item v-for="(wp, idx) in waypoints" :title="wp.label" :key="idx">
        <div style="padding-left: 10px">
          <el-checkbox :v-model="wp.home" label="Home"></el-checkbox>
          <br />
          Latitude: {{wp.position.lat}}, Longitude: {{wp.position.lng}}
          <br />
          <el-button
            type="text"
            icon="el-icon-target"
            @click="onSetTarget(wp)"
            :disabled="wp.isRobot"
          >Set Target</el-button>
        </div>
      </el-collapse-item>
    </draggable>
    <el-button-group>
      <el-button
        type="primary"
        icon="el-icon-upload"
        :loading="isUploading"
        @click="onUpload"
      >Upload</el-button>
      <el-button type="danger" icon="el-icon-position" @click="onReset">Reset</el-button>
    </el-button-group>
    <el-switch
      active-text="Waypoint Mode"
      active-value="1"
      inactive-text="Manual Mode"
      inactive-value="0"
      @change="onModeChange"
      v-model="waypointMode"
    ></el-switch>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Waypoint, { WaypointType } from '@/models/Waypoint';
// @ts-ignore
import draggable from 'vuedraggable';

import ROS from 'roslib';
import { ros } from '@/utils';
import { waypointsStore } from '@/store';

const waypointAddTopic = new ROS.Topic({
  ros,
  name: `/waypoints/add`,
  messageType: 'fabilox/Waypoint',
});

const waypointSetTargetTopic = new ROS.Topic({
  ros,
  name: `/waypoints/set_target`,
  messageType: 'fabilox/Waypoint',
});

const waypointResetTopic = new ROS.Topic({
  ros,
  name: `/waypoints/reset`,
  messageType: 'std_msgs/Bool',
});

const waypointModeTopic = new ROS.Topic({
  ros,
  name: `/waypoints/mode`,
  messageType: 'std_msgs/UInt8',
});

@Component({
  components: {
    draggable,
  },
})
export default class WaypointsPane extends Vue {
  @Prop() waypoints: Waypoint[] | undefined;

  isUploading: boolean = false;
  waypointMode: string = '0';

  created() {
    waypointAddTopic.advertise();
    waypointResetTopic.advertise();
    waypointModeTopic.advertise();
    waypointSetTargetTopic.advertise();
  }

  onUpload() {
    console.log('Uploading waypoints ...');
    this.isUploading = true;
    waypointsStore.waypoints.forEach((wp) => {
      if (wp.type !== WaypointType.Robot) {
        const msg = new ROS.Message({
          name: wp.label,
          position: {
            latitude: wp.latitude,
            longitude: wp.longitude,
          },
        });
        waypointAddTopic.publish(msg);
      }
    });
    this.isUploading = false;
  }

  onReset() {
    console.log('Reseting waypoints ...');
    const msg = new ROS.Message({ data: true });
    waypointResetTopic.publish(msg);
  }

  onModeChange() {
    const waypointMode = parseInt(this.waypointMode);
    console.log(
      `${waypointMode === 1 ? 'Enabling' : 'Disabling'} Waypoints Mode ...`,
    );
    const msg = new ROS.Message({ data: waypointMode });
    waypointModeTopic.publish(msg);
  }

  onSetTarget(wp: Waypoint) {
    const msg = new ROS.Message({
      id: wp.id,
      name: wp.label,
      position: {
        latitude: wp.latitude,
        longitude: wp.longitude,
      },
    });
    waypointSetTargetTopic.publish(msg);
  }
}
</script>

<style scoped>
</style>
