<template>
  <el-tabs type="border-card" style="height: 94vh">
    <el-tab-pane>
      <span slot="label">
        <i class="el-icon-location"></i> Map
      </span>
      <MapComponent></MapComponent>
    </el-tab-pane>
    <el-tab-pane>
      <span slot="label">
        <i class="el-icon-s-data"></i> Telemetery
      </span>
      Telemetery
    </el-tab-pane>
    <el-tab-pane>
      <span slot="label">
        <i class="el-icon-s-tools"></i> Settings
      </span>
      Settings
    </el-tab-pane>
  </el-tabs>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MapComponent from '@/components/MapComponent.vue'; // @ is an alias to /src

@Component({
  components: {
    MapComponent,
  },
})
export default class Home extends Vue {}
</script>
