<template>
  <el-row>
    <el-col :span="18">
      <GmapMap
        :options="options"
        ref="mapRef"
        :center="center"
        :zoom="16"
        map-type-id="terrain"
        style="width: 100%; height: 90vh"
        @dblclick="addMarker"
      >
        <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          v-bind:position="m.position"
          :clickable="true"
          :draggable="true"
          :icon="m.icon === 'robot' ? '/navigation-24.png' : (`http://maps.google.com/mapfiles/ms/icons/${m.icon !== undefined ? m.icon : 'red'}-dot.png`)"
          @click="setSelectedWaypoint(m)"
          @drag="setMarkerPosition($event, m)"
        />
        <!--:icon="`http://maps.google.com/mapfiles/ms/icons/${m.icon !== undefined ? m.icon : 'red'}-dot.png`"-->
      </GmapMap>
    </el-col>
    <el-col :span="6">
      <MapProperties :selectedWaypointIndex="selectedWaypointIndex"></MapProperties>
    </el-col>
  </el-row>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { waypointsStore } from '@/store';
import Waypoint, { WaypointType } from '@/models/Waypoint';
import MapProperties from '@/components/MapProperties.vue';
import { subscribeToGPS } from '@/utils';
import { type } from 'os';

@Component({
  components: {
    MapProperties,
  },
})
export default class MapComponent extends Vue {
  public center = { lat: 32.2170887018991, lng: -7.937678813934326 };
  public options = {
    disableDoubleClickZoom: true,
  };

  private selectedWaypointIndex: number = 0;

  public created() {
    subscribeToGPS('gps0');
    subscribeToGPS('gps1');
  }

  public get markers(): Waypoint[] {
    return waypointsStore.waypoints;
  }

  public addMarker(event: any) {
    waypointsStore.addWaypoint(
      new Waypoint(
        `waypoint_${this.markers.length + 1}`,
        `Waypoint ${this.markers.length + 1}`,
        {
          lat: event.latLng.lat(),
          lng: event.latLng.lng(),
        },
      ),
    );
  }

  public setSelectedWaypoint(waypoint: any) {
    this.panToPosition(waypoint.position);
    this.selectedWaypointIndex = this.markers.findIndex(
      (wp, _i, _o) => wp === waypoint,
    );
    console.log(waypointsStore.waypoints[this.selectedWaypointIndex].label);
  }

  public panToPosition(position: any) {
    // @ts-ignore
    this.$refs.mapRef.$mapPromise.then((map: any) => {
      map.panTo(position);
    });
    console.log(this.$refs);
  }

  public setMarkerPosition(event: any, marker: any) {
    const idx = this.markers.findIndex((m, i, o) => m === marker);
    this.markers[idx].position = {
      lat: event.latLng.lat(),
      lng: event.latLng.lng(),
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
