<template>
  <el-tabs type="border-card" :stretch="true">
    <el-tab-pane>
      <span slot="label">Telemetry</span>
      <TelemetryPane />
    </el-tab-pane>

    <el-tab-pane>
      <span slot="label">
        <i class="el-icon-location"></i> Map Tree
      </span>
      <WaypointsPane :waypoints="waypoints" />
    </el-tab-pane>

    <el-tab-pane>
      <span slot="label">
        <i class="el-icon-s-data"></i>
        Properties:
        <template
          v-if="selectedWaypoint !== undefined"
        >{{selectedWaypoint.label}}</template>
      </span>
      <PropertiesPane :selected-waypoint="selectedWaypoint" />
    </el-tab-pane>
  </el-tabs>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Waypoint from '@/models/Waypoint';
import { waypointsStore } from '@/store';
import WaypointsPane from '@/components/MapProperties/WaypointsPane.vue';
import TelemetryPane from '@/components/MapProperties/TelemetryPane.vue';
import PropertiesPane from '@/components/MapProperties/PropertiesPane.vue';

@Component({
  components: {
    PropertiesPane,
    TelemetryPane,
    WaypointsPane,
  },
})
export default class MapProperties extends Vue {
  @Prop() private selectedWaypointIndex: number | undefined;

  get waypoints(): Waypoint[] {
    return waypointsStore.waypoints;
  }

  set waypoints(waypoints: Waypoint[]) {
    waypointsStore.updateWaypoints(waypoints);
  }

  get selectedWaypoint(): Waypoint | undefined {
    return this.waypoints.length > 0 && this.selectedWaypointIndex !== undefined
      ? waypointsStore.waypoints[this.selectedWaypointIndex]
      : undefined;
  }

  activeNames = null;
  handleChange() {
    console.log('changed');
  }
  inputChanged(value: any) {
    this.activeNames = value;
    console.log(this.activeNames);
  }
  getComponentData() {
    return {
      on: {
        change: this.handleChange,
        input: this.inputChanged,
      },
      attrs: {
        wrap: true,
      },
      props: {
        value: this.activeNames,
      },
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
